@import 'colors';
$padding: 20px;
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header {
    $logo-size: 30px;
    $header-item-margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary-color;
    background-color: $secondary-color;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.08);
    .home {
      display: flex;
      align-items: center;
      img.logo {
        height: $logo-size;
        width: $logo-size;
      }
      .title {
        margin-left: $header-item-margin;
      }
    }
    .right {
      display: flex;
      align-items: center;
      .nav-link {
        margin-right: $header-item-margin;
        &.active {
          color: $primary-color;
        }
      }
    }
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;

    .login {
      display: flex;
      flex-direction: column;
      button {
        margin-bottom: 10px;
      }
    }
  }
}

%button {
  background: none;
  border: none;
  cursor: pointer;
}

button {
  @extend %button;
  &.primary {
    background-color: $primary-color;
    border-radius: 5px;
    color: $secondary-color;
    padding: 10px 15px;
  }
  &.small {
    padding: 3px;
    border-radius: 1px;
    font-size: 10px;
  }
  &:active {
    opacity: 0.5;
  }
}

%primary-form {
  background-color: $secondary-color;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 600px;
  max-width: 90vw;
  label {
    color: $primary-color;
    font-size: 12px;
    margin-bottom: 10px;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1px solid $primary-color;
    outline: none;
    font-size: 14px;
    margin-bottom: 30px;
    &::-webkit-input-placeholder {
      font-weight: 100;
    }
    &:focus {
      border-bottom: 2px solid $primary-color;
    }
  }

  .error {
    position: relative;
    top: -26px;
    font-size: 10px;
    color: red;
  }

  .buttons {
    display: flex;
    button {
      margin-right: 8px;
    }
  }
}

form.primary {
  @extend %primary-form;
}
