@import 'colors';
$padding: 20px;

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header {
    $logo-size: 30px;
    $header-item-margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary-color;
    background-color: $secondary-color;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.08);
    .home {
      display: flex;
      align-items: center;
      img.logo {
        height: $logo-size;
        width: $logo-size;
      }
      .title {
        margin-left: $header-item-margin;
      }
    }
    .right {
      display: flex;
      align-items: center;
      .nav-link {
        margin-right: $header-item-margin;
        &.active {
          color: $primary-color;
        }
      }
    }
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    %column {
      display: flex;
      flex-direction: column;
    }
    .login {
      @extend %column;
      button {
        margin-bottom: 10px;
      }
    }
    .todos-page {
      align-self: stretch;
      h2 {
        .nav-link {
          font-size: 12px;
          text-decoration: none;
          padding: 5px 20px;
          margin: 5px;
          vertical-align: middle;
          background-color: $primary-color;
          color: white;
          font-weight: 500;
          border-radius: 5px;
        }
      }
      .filters {
        .action {
          font-size: 12px;
          margin-right: 12px;
          &.active {
            color: $primary-color;
            font-weight: 700;
          }
        }
      }
      .todos {
        display: flex;
        flex-wrap: wrap;
        .error {
          padding: 30px 30px 0px 0px;
          color: grey;
        }
      }
    }
  }
}

%button {
  background: none;
  border: none;
  cursor: pointer;
}

button {
  @extend %button;
  &.primary {
    background-color: $primary-color;
    border-radius: 5px;
    color: $secondary-color;
    padding: 10px 15px;
  }
  &.small {
    padding: 3px;
    border-radius: 1px;
    font-size: 10px;
  }
  &:active {
    opacity: 0.5;
  }
}

%primary-form {
  background-color: $secondary-color;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 600px;
  max-width: 90vw;
  h2 {
    .id {
      font-size: 10px;
      font-style: italic;
      color: grey;
      margin-bottom: 14px;
    }
  }
  label {
    color: $primary-color;
    font-size: 12px;
    margin-bottom: 10px;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1px solid $primary-color;
    outline: none;
    font-size: 14px;
    margin-bottom: 30px;
    &::-webkit-input-placeholder {
      font-weight: 100;
    }
    &:focus {
      border-bottom: 2px solid $primary-color;
    }
  }

  .error {
    position: relative;
    top: -26px;
    font-size: 10px;
    color: red;
  }

  .buttons {
    display: flex;
    button {
      margin-right: 8px;
    }
  }
}

form.primary {
  @extend %primary-form;
}

.todo {
  border-radius: 20px;
  padding: 25px 20px;
  background: white;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.08);
  width: 310px;
  margin: 20px;
  & > div {
    &.id {
      font-size: 10px;
      font-style: italic;
      color: grey;
      margin-bottom: 10px;
    }
    &.title {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
    }
    &.summary {
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 200;
      color: $primary-color;
    }
    &.status {
      font-size: 12px;
      color: firebrick;
      .action {
        margin-left: 6px;
      }
    }
  }
  &.done > div {
    &.title,
    &.summary {
      color: grey;
      text-decoration: line-through;
    }
    &.status {
      color: seagreen;
    }
  }
}
